<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
      suscipit non blanditiis, repellendus, debitis et accusantium nisi commodi
      omnis perferendis quo. Enim aspernatur voluptatum molestiae, officiis
      commodi ipsam magni minus corporis hic vel consectetur explicabo eum!
    </p>
  </body>
</html>
